<table class="uk-table uk-table-striped">
    <caption>Attachments</caption>
    <tbody>
        <tr>
          <td>
            <a href="#">Project.pdf</a>
          </td>
        </tr>
        <tr>
          <td>
            <a href="#">Project.pdf</a>
          </td>
        </tr>
    </tbody>
</table>