<div class="uk-flex uk-flex-between uk-flex-middle">
    <div class="uk-margin">
        <legend class="uk-project-header uk-legend">Wallets</legend>
    </div>
    <div class="uk-margin">
        <a href="#" class="uk-button uk-button-primary"><span class="uk-create-icon" uk-icon="icon: plus-circle"></span>Create</a>
    </div>
</div>

<table class="uk-table uk-table-hover uk-table-small uk-table-divider">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Balance</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><b>1</b></td>
            <td>Development Fund</td>
            <td>PHP 1,000,000</td>
            <td>
                <a href="" uk-icon="icon: pencil"></a>
                <a href="" uk-icon="icon: trash"></a>
            </td>
        </tr>
        <tr>
            <td><b>2</b></td>
            <td>Financial Assistance</td>
            <td>PHP 5,000,000</td>
            <td>
                <a href="" uk-icon="icon: pencil"></a>
                <a href="" uk-icon="icon: trash"></a>
            </td>
        </tr>
    </tbody>
</table>