<div class="uk-flex uk-flex-between uk-flex-middle">
    <div class="uk-margin">
        <legend class="uk-project-header uk-legend">Development Fund</legend>
    </div>
    <div class="uk-margin">
        <a href="#" class="uk-button uk-button-primary">Edit</a>
        <a href="#" class="uk-button uk-button-danger">Delete</a>
    </div>
</div>
    
<table class="uk-table uk-table-hover uk-table-small uk-table-divider">
    <thead>
        <tr>
            <th>#</th>
            <th>Date</th>
            <th>Amount</th>
            <th>Remarks</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><b>1</b></td>
            <td>May 22, 2019</td>
            <td>PHP 200,000</td>
            <td>
                Hunger Mitigation
            </td>
        </tr>
        <tr>
            <td><b>2</b></td>
            <td>May 22, 2019</td>
            <td>PHP 200,000</td>
            <td>
                Classroom Construction
            </td>
        </tr>
    </tbody>
</table>