<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/head %>
</head>
<body>
  <% include partials/menu %>
  <div class="table-uk-container uk-container uk-container-small">
    <% include partials/projects %>
  </div>
  <% include partials/script %>
</body>
</html>