<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/head %>
</head>
<body>
  <% include partials/menu %>
  <div class="table-uk-container uk-container uk-container-small">
    <% if ( page === 'wallet_list' ) { %>
      <% include partials/wallet_list %>
    <% } else if ( page === 'wallet_details' ) { %>
      <% include partials/wallet_details %>
    <% } %>
  </div>
  <% include partials/script %>
</body>
</html>